<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Beyonce
		</a>
		<a class="panel-block">
			BlackisKing
		</a>
		<a class="panel-block">
			#Tiwa Savage
		</a>
		<a class="panel-block">
			#BBNaijaLockdown
		</a>
		<a class="panel-block">
			Erica
		</a>
		<a class="panel-block">
			Dorathy
		</a>
		<a class="panel-block">
			Yemi Alade
		</a>
		<a class="panel-block">
			#RevolutionNow
		</a>
		<a class="panel-block">
			#BBNaija
		</a>
		<a class="panel-block">
			#BlackLivesMatter
		</a>
		<a class="panel-block">
			#schoolsreopening
		</a>
	</nav>
</div>